.container {
    max-width: 900px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.pg, .campaign {
display: flex;
margin: 10px;
padding: 10px;
justify-content: flex-start;
align-items: center;
}

img {
width: 100px;
height: 100px;
object-fit: cover;
object-position:  50%  0;
}

.info, .desc {
margin: 0px 20px;
}

.CAPF ,.points{
display: flex;
align-items: center;
margin: 10px 0px;
}

.CA, .PF, .points p {
color: #F4D58D;
background: #8D0801;
min-width: 150px;
height: 50px;
border-radius: 18px;
display: flex;
align-content:space-around;
flex-wrap: wrap;
justify-content: space-around;
margin: 0px 20px;
}

.points p {
min-width: 200px;
}

.stats {
border: solid #8D0801;
border-radius: 18px;
padding: 10px;
margin: 10px 0px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.wrap{
display: grid;
width: 100px;
grid-template-rows: 30px 50px 20px; 
margin: 10px;
align-items: center;
justify-content: center;
text-align:center;
padding: 5px;
grid-gap: 5px;
}

.statistica{
font-size: 18px; 
}

.numero{
color: #F4D58D;
background: #8D0801;
width: 80px;
height: 70px;
padding: 10px;
font-size: 30px; 
}

.mod{
background: #F4D58D;
width: 50px;
height: 30px;
border-radius: 50px; 
margin: 0px 15px;
font-size: 20px; 
}

.points{
justify-content: center;
}

.equipment , .partecipants {
margin: 20px;
}

.equipment li , .partecipants li{
margin: 5px 40px;
}


.mondo {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        cursor: pointer;
        color: #003F7A;
        text-decoration: underline;
    }
}


/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    min-width: 700px;
    width: 100%;
    background-color: #001427;
    color: #f4d58d;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 110%;
    top: 0%;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 95%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #001427 transparent transparent
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }