.container {
    max-width: 900px;
    display: flex;
}

.container * {
 margin: 5px;
 display: block;
}

.immagine {
    margin-bottom: 20px;
    width: 100%;
}

#preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position:  50%  0;
}

label {
    font-size: 18px;
    font-weight: bold;
}


input#nome, input#mondo {
    width: 50%;
    outline: none;
    border: none;
    padding: 0px 40px 0px 0px;
    font-size: 16px;
    font-weight: 500;
    background: #F4D58D;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

textarea#sinossi {
    width: 95%;
    min-height: 100px;;
    height: 100%;
    background: #F4D58D;
    border: 2px solid rgba(0, 0, 0, 0.5);
    resize: none;
    padding: 10px;
    &::-webkit-scrollbar {
    display: none;
    }
}

.desc{
    margin: 10px 0px;
}

.reminder {
    font-size: 13px;
    font-weight: 500;
    color: #333;
    margin: -20px 30px 0px 10px;
}

input#img{
    width: 100%;
}

input#submit, input[type="file"]::file-selector-button   {
    color: #fff;
    min-width:200px;
    min-height: 30px;
    margin-top: 10px;
    background: #8D0801;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

input#submit:hover, input[type="file"]::file-selector-button:hover {
    color: #fff;
    background-color: #BF0603;
    border-radius: 25px;
    padding: 0;
    cursor: pointer;
}
