.container {
    max-width: 900px;
    display: flex;
    flex-direction: column
}

.container * {
 margin: 5px;
 display: block;
}

.immagine {
    margin-bottom: 20px;
    width: 100%;
}

#preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position:  50%  0;
}

label {
    font-size: 18px;
    font-weight: bold;
}


input#nome, input#ambientazione, input#gov, input#architettura, input#type {
    width: 50%;
    outline: none;
    border: none;
    padding: 0px 40px 0px 0px;
    font-size: 16px;
    font-weight: 500;
    background: #F4D58D;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

textarea {
    width: 95%;
    min-height: 100px;;
    height: 100%;
    background: #F4D58D;
    border: 2px solid rgba(0, 0, 0, 0.5);
    resize: none;
    padding: 10px;
    &::-webkit-scrollbar {
    display: none;
    }
}

.desc{
    margin: 10px 0px;
}

.reminder {
    font-size: 13px;
    font-weight: 500;
    color: #333;
    margin: 0px 30px 0px 10px;
}

input#img{
    width: 100%;
}

input#submit, input[type="file"]::file-selector-button, .state, button#add  {
    color: #fff;
    min-width:200px;
    min-height: 30px;
    margin-top: 10px;
    background: #8D0801;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.aState:hover {
        cursor: default;
        opacity: 1;
        text-decoration: none;
 }

input#submit:hover, input[type="file"]::file-selector-button:hover, .state:hover, button#add:hover {
    color: #fff;
    background-color: #BF0603;
    border-radius: 25px;
    padding: 0;
    cursor: pointer;
}

button.accordion , select{
    background-color: #f4d58d;
    color: #000;
    border: 2px solid #8D0801;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    outline: none;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 10px;;
}
  
  .active, .accordion:hover {
    background-color: #EAE8FF;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .panelContent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #000;
}

.panel *{
  margin: 10px;
}

.ambientazione {
    display: flex;
    align-items: center;
}

.worldDesc{
    margin: 0px 10px;
}

select {
    width: 200px;
}

.info.poi *{
    margin: 10px 0px;
}

.container.world section , .container.world section *, .container.trait section , .container.trait section * {
    display: revert;
    align-self: center;
}

.container.trait section , .container.trait section *{
    align-self: baseline;
}

.container.world section, .container.trait section{
    margin: 10px;
}

table {
    border: 2px solid #8D0801;
    margin: 10px;
    /*width:  100%; /* Full width of the container */
    border-collapse: collapse; /* Collapse borders */
}

th, td {
    padding: 10px;
    text-align: left;
    border:  1px solid #8D0801; 
}

th {
    background-color: #8D0801;
    color: #F4D58D;
}

thead {
    display: inline;
}

.container.home * {
    margin: 10px;
}

