main {
  display: grid;
  grid-template-rows: 150px 3fr 3fr;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 10px;
}

.container {
  display: inline-grid;
}

.container.left{  
  grid-area: 1 / 1 / 1 / 1;
  grid-template-rows: 50px 20px;
  grid-template-columns: 50px 100px;
  justify-content: start;
  justify-items: stretch;
  grid-gap: 0px 10px;
  font-size: 13px;
  margin: 20px;
  padding: 10px 10px 30px 10px;
}

.container.user {
  grid-area: 1 /1 /2/ 2;
  display: grid;
  margin: 5px;
  padding: 0px;
  grid-template-rows: 20px 30px;
  grid-template-columns: 50px 80px;
  justify-content: start;
  justify-items: stretch;
  grid-gap: 3px;
}

.container.user img {
  grid-area: 1 /1 /2/ 2;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  object-position:  50%  0;
}

.container.user h2 , .container.user p {
  grid-area: span 1;
  grid-column: 2/3;
  padding: 0px 10px
}

.aMode {
  grid-area: 2/2/3/3;
  width: 100%;
}

.mode {
  color: #fff;
  width: 100%;
  min-height: 30px;
  margin-top: 10px;
  background: #8D0801;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover{
    color: #F4D58D;
    background-color: #BF0603;
    border-radius: 25px;
    padding: 0;
    cursor: pointer;
  }
}

.aMode:hover{
      cursor: default;
      opacity: 1;
      text-decoration: none;
}

.container.scrolling{
grid-template-rows: 30px 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-gap: 10px;

}

.container.scrolling.campaign{
grid-area: 2 / 2 / 3 / 3;
}

.container.scrolling h3 {
grid-area: 1 / 1 / 1 / 3;
}

.container.scrolling .arrow.sx{
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.container.scrolling .arrow.dx{
  grid-column: 5 / span 5;
grid-row: 2 / span 1;
}

.container.scrolling .wrap{
  grid-row: 2;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: start;
}

.container.scrolling .wrap img {
grid-area: span 1;
width: 100px;
height: 100px;
object-fit: cover;
object-position:  50%  0;
}

.container.scrolling  p{
grid-row: 2;
}

.container.scrolling.pg, .container.scrolling.mondo{
grid-area: 3 / 2 / 4/ 3;
}

.container.scrolling.pg a{
grid-area: 1/1/3/2;
}

.container.scrolling.homebrew{
  grid-area: 4/ 2 / 5 / 3;
}


.arrow {
background-color: #F4D58D; 
border-top: 50px solid transparent; 
border-bottom: 50px solid transparent; 
border-left: transparent; 
border-right: 50px solid #001427; 
margin: 2rem; 
&:hover{
cursor: pointer;
border-right-color: #002B53;
}
}

.arrow.dx {
transform: rotate(180deg);
}

.reminder {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

ul {
  margin: 10px 0px 0px 20px;
}

li {
  text-decoration: underline;
}
